/* Montserrat font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #F5EACE;
    font-family: "Montserrat", sans-serif;
}
tr, td {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: unset;
}
h1.title {
    margin: 20px 0;
    text-shadow: 1px 2px #C63B3D;
    color: #D1574A; 
    font-size: 80px;
}
.title-2 {
    font-size: 1.6em;
    margin-bottom: 2em;
}
.container {
    margin: 0 auto;
    width: 1320px;
}
.col {
    margin-left: 2%; 
    width: 100%;
    float: left;
}
.col:first-child {
    margin-left: 0; 
}
.col:after {
    content: '.';
    visibility: hidden;
}

.one.col    { width: 4.66666666667%; }
.two.col    { width: 13.3333333333%; }
.three.col  { width: 22%;            }
.four.col   { width: 30.6666666667%; }
.five.col   { width: 39.3333333333%; }
.six.col    { width: 48%;            }
.seven.col  { width: 56.6666666667%; }
.eight.col  { width: 65.3333333333%; }
.nine.col   { width: 74.0%;          }
.ten.col    { width: 82.6666666667%; }
.eleven.col { width: 91.3333333333%; }
.twelve.col { width: 100%; margin-left: 0; }
.clearfix { clear: both; }
.table-container {
    width: 100%;
}
.center-text {
    text-align: center;
}
.number {
    width: 54px;
    height: 54px;
    margin: 6px;
    padding: 10px;
	background-color: #fcf7eb;
    border-radius: 50%;
    font-size: 20px;
    color: #bbb093;
    text-align: center;
    line-height: 36px;
    transition: all .5s linear;
}
.number.called {
    background: url('images/numero-bg.png') center;
    background-size: cover;
    color: #c01d00;
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.664);
    font-size: 25px;
    font-weight: 900;
    font-family: "Montserrat", serif;
}
#last-called-holder {
    margin: 0 auto;
    width: 440px;
    margin-top: 20px;
    overflow: hidden;
    max-height: 440px;
}
.called-number {
    float: left;
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background: url('images/numero-bg.png') center;
    background-size: cover;
}
.called-number-container {
    margin: 0 auto;
    padding-top: 30px;
    width: 140px;
}
.big-number {
    float: left;
    margin: 0 auto;
    height: 140px;
    width: 50%;
    background: url('images/stencil-numbers.png');
    background-size: cover;
    background-position: 0.4%;
}
.big-number.n1 { background-position: 11.4%; }
.big-number.n2 { background-position: 22%; }
.big-number.n3 { background-position: 33%; }
.big-number.n4 { background-position: 44.5%; }
.big-number.n5 { background-position: 55%; }
.big-number.n6 { background-position: 66.6%; }
.big-number.n7 { background-position: 77.2%; }
.big-number.n8 { background-position: 88%; }
.big-number.n9 { background-position: 99%; }
.btn {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    background-color: #63925A;
    box-shadow: 4px 4px #427035;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .1s ease-out; 
    font-size: 1.2em;
    padding: 8px 15px;
    font-weight: bold;
}
.btn.call {
    width: 100%;
    text-transform: uppercase;
    font-size: 35px;
    padding: 20px;
}
.btn:hover {
    background-color: #67985d;
}
.btn:active {
    box-shadow: none;
    transform: translate(4px, 4px);
}
.bottom-links {
    color: #bbb093;
    text-align: center;
    margin-top: 20px;
}
.bottom-links .link {
    cursor: pointer;
}
.bottom-links .link:hover {
    border-bottom: 1px dashed #bbb093;
}
.panel {
    width: 100%;
    background-color: #fcf7eb;
    min-height: 500px;
    border-radius: 10px;
    padding: 16px;
}
.panel.last-called {
    height: 610px;
}
.panel.home {
    margin: 0 auto;
    width: 450px;
}
.form-input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 4px 4px rgba(255, 255, 255, 0.55);
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all .2s ease-out; 
    font-size: 1.2em;
    padding: 12px 18px;
    margin-bottom: 10px;
}
.form-input:focus {
    box-shadow: 4px 4px #c01d002c;
}
.form-label {
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}
.hidden {
    display: none;
}
.msg-box {
    margin: 30px 0;
    font-size: 1.2em;
    font-weight: bold;
}
.green { color: #63925a; }
.red { color: #d1574a; }
.orange { color: #e68e34; }

.alert-panel.panel {
    position: fixed;
    top: 8%;
    left: 50%;
    width: auto;
    min-height: auto;
    max-width: 90%;
    transform: translateX(-50%);
    box-shadow: 4px 4px #c01d002c;
    display: none;
}
.alert-panel.panel h1 {
    margin: 20px 60px;
    font-size: 3em;
}

.single-card {
    table-layout: fixed;
    background-color: #ffffff;
    border-spacing: 0;
    user-select: none;
    border: 1px solid #eaeaea;
}
.single-card.selectable:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}
.single-card.selected {
    background-color: #f2fdff;
    border: 1px solid #77ebff;
}
.single-card.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.single-card td {
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    /* height: 40px; */
}
.single-card td:last-child {
    border-right: 1px solid #eaeaea;
}
.single-card tr:first-child td {
    border-top: 1px solid #eaeaea;
    height: 25px;
    font-weight: bold;
    font-size: .8em;
    position: initial;
}
.single-card tr:first-child td::after {
    display: none;
}

.single-card td::after {
    content: '';
    display: block;
    margin-top: 100%;
}
.single-card td .card-number {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.single-card td.selectable:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}
.single-card td.selectable.selected {
    background: url('images/cardboard_pedina.png') no-repeat center center;
    background-size: cover;
    color: rgba(0, 0, 0, 0);
}

.mb-1 { margin-bottom: 0.5em; }
.mb-2 { margin-bottom: 1.0em; }
.mb-3 { margin-bottom: 1.5em; }
.mb-4 { margin-bottom: 2.0em; }
.mt-1 { margin-top: 0.5em; }
.mt-2 { margin-top: 1.0em; }
.mt-3 { margin-top: 1.5em; }
.mt-4 { margin-top: 2.0em; }

#tavola {
    width: 100%;
}
#tavola tr:nth-child(3n) td {
    padding-bottom: 20px;
}
#tavola tr td:nth-child(5n) {
    padding-right: 20px;
}