<div class="container">
    <div class="center-text not-found">
        <h1 class="title">Numero 404!<br>
        <small>Qui non c'è nulla</small></h1>
    </div>
    <div class="bottom-links mb-3">
        <a class="link" href="/">&laquo; torna alla pagina principale</a>
    </div>
</div>