<div class="container hidden board" id="board">
    <div class="seven col">
        <div class="table-container">
            <table id="tavola">&nbsp;</table>
        </div>
        <div class="bottom-links mb-3">
            <a class="link" href="/">&laquo; Home</a> / 
            <span class="link" id="btnReset">Reset</span> / 
            <span class="link" id="btnRefresh" data-state="on">Aggiornamento automatico: on</span>
        </div>
    </div>

    <div class="five col">
        <div class="center-text">
            <h1 class="title">TOMBOLA!</h1>
            <div class="panel last-called">
                <div class="btn-holder">
                    <button class="btn call" id="btnCall">Estrai</button>
                </div>
                <p>Ultimi estratti:</p>
                <div id="last-called-holder">
                    <!-- JS -->
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="panel alert-panel red" id="alert_panel">
    <h1></h1>
</div>

<!-- Scripts -->
<%- '<script>const board_options = ' + JSON.stringify(options.fe_opt) + '</script>' %>
<script src="/public/vendor/jquery-3.4.1.min.js"></script>
<script src="/public/script_tabellone.js"></script>
<script src="/public/fullscreen.js"></script>