<!DOCTYPE html>
<html>
<head>
    <title>Tombola!</title>
    <% if (viewport) { %><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><% } %>

    <!-- Google font Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="/public/style.css" rel="stylesheet">
    <link rel="icon" href="/public/favicon.png" type="image/png" />
    <meta name="theme-color" content="#100e17">
    
    <!-- jQuery -->
    <script src="/public/vendor/jquery-3.4.1.min.js"></script>

    <style>

        td {
            padding: 10px;
            border: 1px solid black;
        }

    </style>
</head>
<body>
  <h1 class="main_title">Tombola!</h1>
  <%- include(viewname, options); %>
</body>
</html>