<!DOCTYPE html>
<html>
<head>
    <title>Tombola!</title>
    <% if (viewport) { %><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><% } %>

    <link href="/public/style.css" rel="stylesheet">
    <link rel="icon" href="/public/favicon.png" type="image/png" />
    <meta name="theme-color" content="#100e17">
    
    <!-- jQuery -->
    <script src="/public/vendor/jquery-3.4.1.min.js"></script>

</head>
<body>
    <div id="global_msgs" class="msg-box hidden center-text"></div>
    <div class="page">
        <%- include(viewname, options); %>
    </div>
</body>
</html>